<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @checkout.item %>
</p>

<p>
  <strong>Time:</strong>
  <%= @checkout.time %>
</p>

<%= link_to 'Edit', edit_checkout_path(@checkout) %> |
<%= link_to 'Back', checkouts_path %>
