<!-- <link rel="stylesheet" href="products.css"> -->

<body>

  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo left">Pets</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li class="active"><a href="login#index">Home</a></li>
        <li class="active"><a href="products#index">Pets</a></li>
        <li class="active"><a href="reviews#index">Reviews</a></li>
      </ul>
      <ul class="right">
        <%if signed_in?%>
          <li><%=link_to current_user.email, edit_user_registration_path%></li>
          <li><%=link_to "Logout", destroy_user_session_path, method: :delete%></li>
        <%else%>
          <li><%=link_to "Register", new_user_registration_path%></li>
          <li><%=link_to "Login", new_user_session_path%></li>
        <%end%>
      </ul>
    </div>
  </nav>


<table>
  <!-- <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead> -->
<div class="listings">
  <tbody>
    <% @products.each do |product| %>
      <ul class="collapsible popout" data-collapsible="accordion" >
        <li>
          <img src="http://via.placeholder.com/100x100" />
          <h3><%= product.name %></h3>
          <p><%= product.description %> Price: $<%= product.formatted_price %> <%= link_to 'Edit', edit_product_path(product) %> or <%= link_to 'Remove', product, method: :delete, data: { confirm: 'Are you sure?' } %></p>
        </li>
      </ul>
    <% end %>
  </tbody>
</div>
<%= link_to 'New Listing', new_product_path %>
</body>
